In [2]:
import numpy as np
import pandas as pd
import dtale

EXERCISE SET 2

Exercise 1 starts

In [6]:
# READ THE CSV FILE + REMOVE CUSTOMER ID COLUMN

loans_data = pd.read_csv('loans.csv')
#loans_data

loans_df = pd.DataFrame(loans_data) 
#loans_df

loans_df = loans_df.drop('Customer ID', axis=1) #drop the customerid from columns
loans_df

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# PRINT THE HEAD OF THE DATA
loans_df.head()

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [9]:
# REMOVE ROWS FROM DATA THAT HAVE A TOO LARGE OF A LOAN

loans_df = loans_df[loans_df['Current Loan Amount'] < 99999999] # bool check if the Current Loan Amount is smaller than 99999999 and if not then removes the row
loans_df

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
5,89d8cb0c-e5c2-4f54-b056-48a645c543dd,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.3,NaN,6.0,0.0,215308.0,272448.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,79b81158-5d55-4766-8ad6-ebcd683f7d59,Fully Paid,44484.0,Short Term,717.0,1152426.0,10+ years,Home Mortgage,small_business,6280.64,21.0,12.0,6.0,0.0,961932.0,0.0,0.0,0.0
99994,8506a4e9-af7d-47d2-a1bf-7ea2c41858f0,Fully Paid,210584.0,Short Term,719.0,783389.0,1 year,Home Mortgage,Other,3727.61,17.4,18.0,6.0,0.0,456.0,259160.0,0.0,0.0
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,Fully Paid,147070.0,Short Term,725.0,475437.0,7 years,Own Home,other,2202.86,22.3,NaN,5.0,0.0,47766.0,658548.0,0.0,0.0
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,Fully Paid,103136.0,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,Fully Paid,530332.0,Short Term,746.0,1717524.0,9 years,Rent,Debt Consolidation,9890.07,15.0,NaN,8.0,0.0,404225.0,738254.0,0.0,0.0

In [10]:
# Remove rows that have the annual income as NaN (not a number)
loans_df = loans_df.dropna(subset=['Annual Income']) # subset specifies that this applies only to Annual Income column
loans_df.head()

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
5,89d8cb0c-e5c2-4f54-b056-48a645c543dd,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.3,NaN,6.0,0.0,215308.0,272448.0,0.0,0.0
6,273581de-85d8-4332-81a5-19b04ce68666,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0
8,8af915d9-9e91-44a0-b5a2-564a45c12089,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,18660.28,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0

In [11]:
# Get the average Current Loan Amount
loans_df_mean = loans_df['Current Loan Amount'].mean() # self explanatory :D
loans_df_mean

314293.1817998328

In [15]:
# Get the highest and lowest Annual Income in the dataset
loans_df_highest_AI = loans_df['Annual Income'].max()
loans_df_lowest_AI = loans_df['Annual Income'].min()

print(f"highest: {loans_df_highest_AI}, min: {loans_df_lowest_AI}")

highest: 165557393.0, min: 76627.0

In [17]:
# Get the Home Ownership value of the Loan ID = bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d
loans_df_loan_id = loans_df[loans_df['Loan ID'] == 'bbf87a87-22cd-4d10-bd9b-7a9cc1b6e59d'] # first take the wanted loan id row to new variable

loans_df_home_ownership_by_loan_id = loans_df_loan_id['Home Ownership'].iloc[0] #iloc[0] selects the first index assuming there is only 1 when loan id == unique LATER FOUND OUT LOAN ID IS NOT UNIQUE, not gonna change this took too much time to find the way :D
loans_df_home_ownership_by_loan_id

'Own Home'

In [18]:
# Create a new field into your dataset called Actual Annual Income. (formula: Annual Income â€“ 12 * Monthly Debt)
loans_df['Actual Annual Income'] = loans_df['Annual Income'] - 12 * loans_df['Monthly Debt']
loans_df.head()

C:\Users\emilh\AppData\Local\Temp\ipykernel_30040\2711561034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_df['Actual Annual Income'] = loans_df['Annual Income'] - 12 * loans_df['Monthly Debt']

,Loan ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Actual Annual Income
0,14dd8831-6af5-400b-83ec-68e61888a048,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0,1104916.12
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0,702046.20
5,89d8cb0c-e5c2-4f54-b056-48a645c543dd,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,Debt Consolidation,16367.74,17.3,NaN,6.0,0.0,215308.0,272448.0,0.0,0.0,700444.12
6,273581de-85d8-4332-81a5-19b04ce68666,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0,1053933.04
8,8af915d9-9e91-44a0-b5a2-564a45c12089,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,18660.28,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0,2335186.64

In [19]:
# Get the Actual Annual Income of the loan with the ID = 76fa89b9-e6a8-49af-afa1-8151315aba8e
loans_df_loan_id2 = loans_df.loc[loans_df['Loan ID'] == '76fa89b9-e6a8-49af-afa1-8151315aba8e', 'Actual Annual Income'] # with .loc we can squeeze this into one liner, gets the rows where loan id matches to the wanted one and then gets the actual annual income. loan id is not unique apparently
loans_df_loan_id2

109     674234.76
2216    674234.76
Name: Actual Annual Income, dtype: float64

In [20]:
# Get the Loan ID of the loan with the smallest Actual Annual Income
loans_df_aai_loan_id = loans_df.loc[loans_df['Actual Annual Income'].min(), 'Loan ID']
loans_df_aai_loan_id

'63d767ac-2057-4688-9cff-e6ab5da06a33'

In [25]:
# How many loans are "Long term"?, so count of of the Term == 'Long Term'
#loans_df_long_term_loans_count = loans_df[loans_df['Term'] == 'Long Term'].count() # with this we got a return of all the rows 
loans_df_long_term_loans_count = len(loans_df[loans_df['Term'] == 'Long Term']) # len() just gives us the rowcount
loans_df_long_term_loans_count

20789

In [26]:
# How many loaners have more than 1 bankruptcy? Bankruptcies > 1
loans_df_bankruptcies_count = len(loans_df[loans_df['Bankruptcies'] > 1])
loans_df_bankruptcies_count

372

In [31]:
# How many Short Term loans are for Home Improvements? Purpose + Term columns
loans_df_short_term_loans = len( loans_df[ (loans_df['Purpose'] == 'Home Improvements') & (loans_df['Term'] == 'Short Term') ] )
loans_df_short_term_loans

2657

In [35]:
#How many unique loan purposes are there? !!!unique() method returns array of all vals and nunique() method returns count
loans_df_unique_purposes = loans_df['Purpose'].nunique()
loans_df_unique_purposes

16

In [40]:
# What are the 3 most common loan purposes?
loans_df_most_common_purposes = loans_df['Purpose'].value_counts().head(3) # with .head() we can limit the result to top 3
loans_df_most_common_purposes

Purpose
Debt Consolidation    54268
other                  4389
Home Improvements      4005
Name: count, dtype: int64

In [42]:
# Is there a correlation between Annual Income and Number of Open Accounts 
# or is there a correlation between Number of Credit Problems and Bankruptcies?
#Explain your findings in your Jupyter notebook also.

# CORRELATION 1 -> PERFECT CORR, 0 -> NO CORRELATION, -1 -> PERFECT NEGATIVE CORRELATION

corr_between_ai_and_noa = loans_df['Annual Income'].corr(loans_df['Number of Open Accounts'])
corr_between_ai_and_noa
# RESULT: 0.143, there is close to none correlation which suggests that these statistic don't have a relation between eachother

corr_between_ncp_and_bankruptcies = loans_df['Number of Credit Problems'].corr(loans_df['Bankruptcies'])
corr_between_ncp_and_bankruptcies

0.747454923534903